# Env
NODE_ENV = Complete with the nodejs enviroment

# Port
PORT = Complete with the Port

# Log
LOG_LEVEL = Complete with the level logger

# DataBase
DATABASE_URL = Complete with the Mongo DB Conection 